/* css/base/variables.css */

:root {
    --bg-main: #09090b;
    --bg-card: #121214;
    --bg-card-hover: #1a1a1e;
    --bg-header-footer: #18181b;

    --border-color: #27272a;
    --border-color-hover: #3f3f46;

    --text-primary: #f4f4f5;
    --text-secondary: #a1a1aa;

    --accent: #22c55e;
    --accent-hover: #16a34a;
    --danger: #ef4444;
    --danger-hover: #dc2626;

    --font-sans: 'Urbanist', system-ui, -apple-system, sans-serif;
}

html.light{
    --bg-main: #f4f4f5;
    --bg-card: #ffffff;
    --bg-card-hover: #f1f1f4;
    --bg-header-footer: #e4e4e7;

    --border-color: #e4e4e7;
    --border-color-hover: #d4d4d8;
    
    --text-primary: #09090b;
    --text-secondary: #71717a;
}